@model Carworld.Models.CarModel

@{
    ViewData["Title"] = "AutoToevoegen";
}

<h1>AutoToevoegen</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AutoToevoegen">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Merk" class="control-label"></label>
                <select class="form-control" type="number" data-val="true" data-val-required="The Merk field is required." id="Merk" name="Merk" value="">
                    <option value="1">BMW</option>
                    <option value="2">two</option>
                    <option value="3">three</option>
                    <option value="4">four</option>
                </select>
                <span asp-validation-for="Merk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jaar" class="control-label"></label>
                <input asp-for="Jaar" class="form-control" />
                <span asp-validation-for="Jaar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prijs" class="control-label">Prijs (in Euro)</label>
                <input asp-for="Prijs" class="form-control" />
                <span asp-validation-for="Prijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vermogen" class="control-label">Vermogen (in pk)</label>
                <input asp-for="Vermogen" class="form-control" />
                <span asp-validation-for="Vermogen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koppel" class="control-label">Koppel (in nm)</label>
                <input asp-for="Koppel" class="form-control" />
                <span asp-validation-for="Koppel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acceleratie" class="control-label">Acceleratie tot 100km/h (in secondes)</label>
                <input asp-for="Acceleratie" class="form-control" />
                <span asp-validation-for="Acceleratie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topsnelheid" class="control-label">Topsnelheid (in km/h)</label>
                <input asp-for="Topsnelheid" class="form-control" />
                <span asp-validation-for="Topsnelheid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Klasse" class="control-label"></label>
                <select class="form-control" type="number" data-val="true" data-val-required="The Klasse field is required." id="Klasse" name="Klasse" value="">
                    <option value="1">Sport</option>
                    <option value="2">two</option>
                    <option value="3">three</option>
                    <option value="4">four</option>
                </select>
                <span asp-validation-for="Klasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brandstof" class="control-label"></label>
                <select class="form-control" type="number" data-val="true" data-val-required="The Brandstof field is required." id="Brandstof" name="Brandstof" value="">
                    <option value="1">Benzine</option>
                    <option value="2">two</option>
                    <option value="3">three</option>
                    <option value="4">four</option>
                </select>
                <span asp-validation-for="Brandstof" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Verbruik" class="control-label">Verbruik (in l/100km)</label>
                <input asp-for="Verbruik" class="form-control" />
                <span asp-validation-for="Verbruik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Voeg Toe" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
