@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Logic.Car>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="autoContainer">
        @foreach (var auto in Model)
        {
        <div class="card">
            <div class="imageCard row align-content-center" >
                <img src="@("/Images/"+auto.Id+".jpg")" alt=@auto.Merk style="width:100%">
            </div>
            <h1>@(auto.Merk + auto.Model)</h1>
            <p class="price">€@auto.Prijs</p>
            <p>Tekst</p>
            <p><button>Meer lezen</button></p>
        </div>
         }
    </div>
</div>


