@model IEnumerable<CarModel>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="autoContainer">
        @foreach (var car in Model)
        {
            <div class="card">
                <div class="imageCard row align-content-center">
                    <img src="@("/Images/"+car.Id+".jpg")" alt=@car.Brand style="width:100%">
                </div>
                <h1>@(car.Brand + " " + car.Model)</h1>
                <p class="price">€@car.Price</p>
                <p>Text</p>
                <p><button>Read More</button></p>
                <a asp-controller="HomeController" asp-action="ReadMore"
            </div>
        }
    </div>
</div>


